[init]
	defaultBranch = main
[user]
	email = MCluck90@gmail.com
	name = Mike Cluck
[alias]
  amend = commit --amend
  cm = commit -m
  co = checkout
  cob = checkout -b
  ec = config --global --edit
  st = status -s
  sw = switch
